/* Reset some basic elements */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

/* Container for content */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

/* Styling for the main content sections */
main .category, .publication-item, .sjr-badge {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjust the font sizes for headings */
h1, h2, h3 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

/* Enhancements for publication items */
.publication-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publication-item .publication-info p {
    flex: 1;
    margin-right: 20px;
}

/* Enhancements for SJR badges to make them stand out */
.sjr-badge {
    flex-shrink: 0; /* Prevents the image from shrinking */
    height: auto;
    width: 100px; /* Adjusts the width of the SJR badge for better visibility */
    margin-left: 20px;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .publication-item {
        flex-direction: column;
    }

    .publication-item .publication-info, .sjr-badge {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}
